
/* .horizontal-scroller-scroll {
  scroll-behavior: smooth; =
  
} */



.horizontal-scroller-wrapper {
		z-index: 100;
		position: relative;
    background-color: black !important;
    scroll-behavior: auto;
}

@media (max-width: 992px) {
		.horizontal-scroller-scroll {
				height: 100vh;
		}
		.horizontal-scroller-scroll .horizontal-scroller-item {
				height: auto;
		}
}

.horizontal-scroller-image {
		max-height: 90vh;
		padding-top: 0;
}



/* #followMouse {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: #0052CD;
    color: white;
    text-align: center;
    line-height: 50px;
    z-index: 1000;
    pointer-events: none;
    font-size: 16px;
    border-radius: 50px;
  }
  
  #followMouse::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
   
    border-radius: 50%;
  } */